{% extends 'base.html' %}
{% block title %}
  Home
{% endblock title %}
{% block body %}
<div class="container my-5">
  <h2>Add your ToDo</h2>
  <form action="/" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Todo Title</label>
        <input type="text" class="form-control" name="title" id="title">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Todo Description</label>
        <input type="text" class="form-control" name="desc" id="desc">
      </div>
      <button type="submit" class="btn btn-primary ">Submit</button>
    </form>
</div>
<div class="container my-5">
  <h2>Your ToDos</h2>
  {% if allTodo|length==0%}
  <div class="alert alert-info" role="alert">
    No Todos found! Add your first todo now!
  </div>
  {% else %}
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Serial</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Date and Time</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>

          {% for todo in allTodo %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ todo.title }}</td>
            <td>{{ todo.desc }}</td>
            <td>{{ todo.date }}</td>
            <td>
              <a href="/delete/{{ todo.sno }}" type="button" class="btn btn-outline-danger btn-sm mx-1">Delete</a>
              <a href="/update/{{ todo.sno }}" type="button" class="btn btn-outline-warning btn-sm mx-1">Update</a>
            </td>
          </tr>
          {% endfor %}
        {% endif %}

      </tbody>
    </table>
</div>
{% endblock body %}  